.C-top-list{
  margin-top: -28px !important;
}
.logo
{
  position: absolute;
}
.L1
{
  margin-left: 65% !important;
}
.L2
{
  margin-left: 71% !important;
}
.L3
{
  margin-left: 77% !important;
}
.L4
{
  margin-left: 89% !important;
}
.L5
{
  margin-left: 83% !important;
}
.introduce
{
	width: 100%;
	/*background-color: red;*/
	display: inline-block;
	margin-top: 150px;
	text-align: center;
/*	background-color: blue;*/
}
.good
{
	display: inline-block;
	margin-top: 50px;
	width: 100%;
	height: 400px;
	/*background-color: rgb(240,240,240);*/
	text-align: center;
}
.photo
{
	width: 400px;
	height: 400px;
	display: inline-block;
	/*background-color: #75D1C4;*/
	/*margin-top: 120px;*/
	/*margin-left: 20%;*/
	position: relative;
	cursor: pointer;
	
}
.avge{

	display: inline-block;	
	font-size:120px;
	font-weight: bold;
    color:#fff;
    transition: .5s ease;
  	opacity: 0;
  	position: absolute;
  	font-family: Helvetica;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	text-align: center;
  	background-color: rgb(255,103,100);
  	width: 380px;
  	height: 350px;
  	border-radius: 50px;
  	padding-top: 110px;
}
.avge:hover
{
	opacity: 0.8;
}
.context
{
	display: inline-block;
	width: 550px;
	height: 400px;
	margin-left: 20px;
	/*background-color: #75D1C4;*/
	text-align: center;
	/*font-size: 24px;*/
	vertical-align: top;
}
.name
{
	display: inline-block;
	width: 80%;
	text-align: left;
	font-size:38px;
	font-family:NSimSun;
	margin-top: 40px;
	margin-left: 0px;
}
.txt
{
	display: inline-block;
	font-size:20px;
	width: 80%;
	text-align: left;
	font-family:NSimSun;
	line-height: 35px;
	
}
.num
{
	display: inline-block;
	font-size:20px;
	width: 80%;
	text-align: left;
	font-family:NSimSun;
	line-height: 30px;
	margin-top: 12px;
}
.sum
{
	display: inline-block;
	font-size:20px;
	width: 80%;
	text-align: left;
	font-family:NSimSun;
	line-height: 30px;
	margin-top: 10px;
}
.money
{
	display: inline-block;
	font-size:40px;
	width: 80%;
	text-align: left;
	font-family:NSimSun;
	margin-top: 20px;
	line-height: 30px;
	letter-spacing: 3px;
}
.btn
{
	display: inline-block;
	/*width: 80%;*/
	margin-left: 150px;
	text-align: right;
	/*margin-top: -400px;*/
	/*background-color: red;*/
	 font-family: Helvetica;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #FF8385;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-family: Helvetica;
  letter-spacing: 2px;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.comment
{
	display: inline-block;
	width: 65%;
	height: 100px;
	margin-top: 90px;
	
}
.comment-title
{

	color: #75D1C4;
	font-family: Helvetica;
	font-size: 65px;
	letter-spacing: 7px;
	text-align: left;
	font-weight: bold;
}

.messagebox
{
	display: inline-block;
	background-color: #75D1C4;
	border-radius: 35px;
	text-align: center;
	width: 100%;
	height: 360px;

}
.mesword
{
	display: inline-block;
	font-size:24px;
	font-family:NSimSun;
	color: white;
	letter-spacing: 5px;
	font-weight: bold;
}
.mesbox
{

	display: inline-block;
	width: 50%;
	height: 200px;
	margin-top: 30px;
}

.textarea
{
	width: 100%;
	height: 100px;
}
.message
{
	display: inline-block;
	width: 100%;
	background-color: rgb(245,245,245);
	height: 220px;
	margin-top: 30px;
	border-radius: 35px;

}
.submit
{
	width: 20%;
	height: 30px;
	background-color: #75D1C4;
  	color: #fff;
  	border: 3px solid #fff;
  	cursor: pointer;
  	margin-top: 5px;
  	font-family:NSimSun;
  	font-weight: bold;
  	font-size: 16px;
}
.icon
{
	/*display: inline-block;*/
	width: 120px;
	border-radius: 50%;
	height: 120px;
	background-color: #75D1C4;
	margin-left: 50px;
	margin-top: 35px;
	overflow: hidden;
	position: absolute;
}
.word
{
	display: inline-block;
	width: 75%;
	font-size:18px;
	text-align: left;
	font-family:NSimSun;
	letter-spacing: 3px;
	margin-left: 150px;
	margin-top: 10px;
}
.namea
{
	display: inline-block;
	width: 75%;
	font-size:18px;
	text-align: left;
	font-family:NSimSun;
	letter-spacing: 3px;
	margin-left: 150px;
	margin-top: 30px;
}
.like{
	position: relative;
	width: 200px;
	height: 50px;
	background: url("../images/like3.png") repeat-x;
	background-size: 40px 40px;
	overflow: hidden;
	margin-top: 5px;

}
.star,.score{
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
}..
.star{
	z-index: 2;
}
.score{
	opacity: 0;
}
.star_1, .score_1 {
	left: 0;
}
.star_2, .score_2 {
	left: 40px;
}
.star_3, .score_3 {
	left: 80px;
}
.star_4, .score_4 {
	left: 120px;
}
.star_5, .score_5 {
	left: 160px;
}
.star:hover {
	cursor: pointer;
	background: url("../images/like.png") repeat-x;
	background-size: 40px 40px;
	left: 0;
	z-index: 1;
}
.star_1:hover {
	width: 40px;
}
.star_2:hover {
	width: 80px;
}
.star_3:hover {
	width: 120px;
}
.star_4:hover {
	width: 160px;
}
.star_5:hover {
	width: 200px;
}

.score:checked + .star {
	background: url("../images/like.png") repeat-x;
	background-size: 40px 40px;
	left: 0;
}
.score_1:checked + .star_1 {
	width: 40px;
}
.score_2:checked + .star_2 {
	width: 80px;
}
.score_3:checked + .star_3 {
	width: 120px;
}
.score_4:checked + .star_4 {
	width: 160px;
}
.score_5:checked + .star_5 {
	width: 200px;
}
.love
{
	display: inline-block;
	width: 75%;
	font-size:18px;
	text-align: left;
	font-family:NSimSun;
	letter-spacing: 3px;
	margin-left: 150px;
	margin-top: 10px;
}
