.C-top-list{
  margin-top: -28px !important;
}
.logo
{
  position: absolute;
}
.L1
{
  margin-left: 65% !important;
}
.L2
{
  margin-left: 71% !important;
}
.L3
{
  margin-left: 77% !important;
}
.L4
{
  margin-left: 89% !important;
}
.L5
{
  margin-left: 83% !important;
}
.product
{
	width: 75%;
	/*height:140px;*/
	display: inline-block;
/*	background-color: #75D1C4;*/
	text-align: center;
	margin-left: 12%;
	margin-top: 180px;

}
.pro-word
{
  margin-top: -100px;
	font-size: 60px;
	letter-spacing: 12px;
	/*color:#FF8385;*/
  color: rgb(198,76,73);
	font-family: Helvetica;
  font-weight: bold;

}
.item
{
	display: inline-block;
	/*background-color: #75D1C4;*/
	width: 320px;
	height: 320px;
/*	margin-top: 60px;*/
 /* margin-left: 60px;*/
  cursor: pointer;
  /*opacity:0;*/
  position:relative;
}
.pic
{
  width: 80%;
  margin-top: 60px;
  position: relative;
}

.pic:hover
{
  transform: scale(1.1);
  transition:all 0.8s
}
.money
{

	display: inline-block;
/*	background-color: #75D1C4;*/
	width: 320px;
	height: 100px;
	/*margin-top: 5px;
  margin-left: 60px;*/
 /* opacity:0;*/
  font-size: 26px;
 /* font-family:NSimSun;*/
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 3px;
  line-height: 54px;
  color: rgb(057,035,027);
}

.btn1
{
	display: inline-block;
/*	background-color: #75D1C4;*/
	width: 320px;
	height: 70px;
	margin-top: 20px;
  /*margin-left: 60px;*/
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #FF8385;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-family: Helvetica;
  letter-spacing: 2px;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 28%;
  height: 530px;
  text-align: center;
  margin-top: 50px;
  margin-left:48px;
  background-color: #fff;
  opacity: 0;
  border-radius: 8px;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.back
{
  display: inline-block;
/*background-color: rgb(255,248,242);*/
  background-color: rgb(255,224,190);
/*background-color: rgb(176,219,206);*/
  width: 100%;
 /* height: 600px;*/
  margin-top: 100px;
  

}
.card-a
{
    -webkit-animation: fadeinout 0.7s linear forwards;

}
@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  100% { opacity: 1; }
}
.search
{
  margin-top: 20px;
}
.search2{
  width: 380px !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
  font-size: 16px !important;
  background-color: #fff  !important;
  padding: 12px 20px 12px 40px !important;
  background-image: url(../images/search.png)  !important;
  background-size: 5%  !important;
  background-repeat: no-repeat !important;
  background-position: 10px 12px !important;
}
